<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <!-- Advanced login -->
        <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="card mb-4">
              <div class="card-body">
                <div class="pb-5 text-center">
                  <img src="assets/images/logo_kendozone_guest_beta.png" width="200"/>
                </div>

                <div class="form-group">
                  <input type="text" email="true" formControlName="email" class="form-control input-lg"
                         placeholder="Email"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <div *ngIf="submitted && f.email.errors" class="text-primary">
                    <div *ngIf="f.email.errors.required" translate [translateParams]="{attribute: 'email'}">
                      validation.required
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <input type="password" formControlName="password" name="password"
                         id="password" class="form-control input-lg" placeholder="Password" required
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="text-primary">
                    <div *ngIf="f.password.errors.required" translate [translateParams]="{attribute: 'password'}">
                      validation.required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <label class="checkbox-inline">
                        <input type="checkbox" value="remember-me" class="mr-2" checked="checked">
                        <span> {{ 'login.remember' | translate }}</span>
                      </label>
                    </div>
                    <div class="col-6 text-right">
                      <a translate routerLink="/password/forgot">{{ 'login.lost_password' | translate }} </a>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <button type="submit" id="login" translate
                          class="btn bg-success btn-block p-3 mb-4 text-white text-uppercase">
                    {{ 'login.signin' | translate }}
                  </button>
                </div>
                <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->


                <div class="content-divider text-muted form-group"><span>Or signin with</span></div>
                <div class="badge center social_icons">
                  <button class="btn text-white btn-facebook" (click)="fbLogin();">
                    <b> <i class="fab fa-facebook-f"></i></b>
                  </button>
                  &nbsp;
                  <button class="btn text-white btn-danger" (click)="googleLogin();">
                    <b> <i class="fab fa-google"></i></b>
                  </button>
                </div>

                <div class="content-divider text-muted form-group mt-2 mb-2"><span
                  translate>{{ 'login.no_account' | translate }}</span>
                </div>

                <div class="mt-5">
                  <a class="btn full-width text-primary border-primary border-4 text-uppercase " translate
                     routerLink="/register">{{ 'login.signup' | translate }}</a>
                </div>
              </div>
            </div>


          </form>
        </div>
        <!-- /footer -->
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
