<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <!-- Advanced login -->
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="card mb-4">
              <div class="card-body">
                <div class="pb-5 text-center">
                  <i class="fab fa-odnoklassniki text-primary f-70"></i>
                </div>
                <h2 align="center" class="pb-4">{{ 'register.title_register' | translate }}</h2>
                <div class="form-group">
                  <input type="text" formControlName="name" class="form-control input-lg" placeholder="{{ 'validation.attributes.name' | translate }}"
                         [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">{{ 'validation.required' | translate:{'attribute':'Name'} }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" formControlName="email" class="form-control input-lg" placeholder="{{ 'validation.attributes.email' | translate }}"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">{{ 'validation.required' | translate:{'attribute':'Email'} }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" name="password"
                         id="password" class="form-control input-lg" placeholder="{{ 'validation.attributes.password' | translate }}" required
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">{{ 'validation.required' |
                      translate:{'attribute':'Password'} }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password_confirmation"
                         name="password_confirmation" id="password_confirmation" class="form-control input-lg"
                         placeholder="{{ 'validation.attributes.password_confirmation' | translate }}" required
                         [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }">
                  <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                    <div *ngIf="f.password_confirmation.errors.required">{{ 'validation.required' |
                      translate:{'attribute':'Password confirmation'} }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" id="login" [disabled]="loading"
                          class="btn bg-success btn-block p-3 mb-4 text-white text-uppercase">
                    <img *ngIf="loading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    {{ 'login.create_account' | translate}}
                  </button>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
              </div>
            </div>
          </form>
        </div>
        <!-- Footer -->
        <div class="footer text-muted text-primary ml-3">
          &copy; 2018. <a href="mailto:contact@kendozone.com" class="text-primary font-weight-bold font-weight-bold">Kendozone</a>
        </div>
        <!-- /footer -->
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
