<div class="container-fluid" *ngIf="data">
  <div class="row">
    <div class="col-10" id="main">
      <ngb-tabset type="pills" class="nav-fill">
        <ngb-tab *ngFor="let championship of data.tournament.championships; let numChampionship=index">
          <ng-template ngbTabTitle>{{ championship?.category?.name | translate | uppercase }}</ng-template>
          <ng-template ngbTabContent>
            <div class="row mt-4">
              <div class="col-md-8">
                <h1>{{ championship.category.name | translate }}
                  <span class="small ml-4" [style.font-size.px]=12>{{  'help.drag_competitors_name_into_team' | translate }}</span>
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4" *ngFor="let team of data.championships[numChampionship].teams">
                    <div class="card mt-3">
                      <div class="card-header text-center">
                        <div class="d-flex align-items-center">
                          <div>{{ team.name | uppercase }}</div>
                          <button class="btn border-0 icon-list float-right ml-auto"
                                  (click)="delete(team)">
                            <i class="fa fa-times "></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body container" dragula="COMPETITORS" [id]="team | json"
                           [(dragulaModel)]="team.competitors">
                        <div *ngFor="let competitor of team.competitors">
                          <div class="pt-3 pb-3 mt-1 mb-1 border rounded text-center handle">
                            {{ competitor.user.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--ADD TEAM-->
              <div class=" col-xs-12 col-md-3 mt-3
                          ">
                <div class="card align-items-center">
                  <h2 class="text-center pt-3">{{ 'teams.add_new_team' | translate }}</h2>
                  <form class="form-horizontal" (ngSubmit)="onSubmit(championship)" #form="ngForm">
                    <div class="form-group">
                      <div class="form-inline">
                        <input type="text" class="form-control pt-2 pb-2" name="name" id="name"
                               required [(ngModel)]="name" placeholder="{{ 'teams.team_name' | translate}}">
                        <button type="submit"
                                class="btn text-white bg-success border-success ml-1 p-2 rounded"
                                id="save">{{ 'common.add' | translate }}</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!--COMPETITORS-->
                <div class="card mt-3 pt-3 pb-3">
                  <h2 align="center">{{ 'model.competitors' | translate}}</h2>
                  <div dragula="COMPETITORS" [(dragulaModel)]="data.championships[numChampionship].freeCompetitors"
                       id=0  class="container pt-2 pb-2">
                    <div *ngFor="let competitor of data.championships[numChampionship].freeCompetitors"
                         class="pt-3 pb-3 mt-1 mb-1 border rounded text-center">{{ competitor.user.name  }}</div>
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-2">
      <app-tournament-edit-right-menu [tournament]="data.tournament"></app-tournament-edit-right-menu>
    </div>
  </div>
</div>
