<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-9" id="main">
      <div *ngFor="let championship of tournament.championships; let i = index" class="card mb-4">
        <div class="card-body">
          <a name="{{ championship.category.name | translate | slug }}">
            <div class="row">
              <div class="col-md-9">
                <!-- TODO alias if exists-->
                <span
                  class="text-semibold text-uppercase font-weight-bold">{{ championship.category.name | translate }}</span>
              </div>
              <div class="col-md-3">
                <div class="badge btnAction">
                  <button class="btn btn-primary mr-2" (click)="open(championship.id)">
                    <b> <i class="fas fa-plus mr-1"></i></b>
                    {{ 'competitors.add_competitor' | translate }}
                  </button>

                  <button class="btn btn-success">
                    <b> <i class="fas fa-sitemap mr-2"></i></b>
                    {{ 'competitors.generate_tree' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </a>

          <div class="text-center">
            <div class=".table-responsive border-top-0">
              <table class="table .table-hover .table-responsive-xs">
                <tr>
                  <th scope="col">{{ 'competitors.avatar' | translate }}</th>
                  <th scope="col">{{ 'model.user' | translate }}</th>
                  <th scope="col">{{ 'profile.email' | translate }}</th>
                  <!--<th scope="col">{{ 'categories.category' | translate }}</th>-->
                  <!--<th scope="col">{{ 'competitors.paid' | translate }}Paid</th>-->
                  <!--<th scope="col">{{ 'profile.country' | translate }}</th>-->
                  <th scope="col">{{ 'common.action' | translate }}</th>
                </tr>
                <tr *ngFor="let competitor of championship.competitors">
                  <!--TODO get Avatar-->
                  <td align="left">{{competitor.user.avatar}}</td>
                  <td align="left">{{competitor.user.name}}</td>
                  <!--TODO get first / lastname -->
                  <td>{{competitor.user.email}}</td>
                  <!--<td>{{championship.category.name}}</td>-->
                  <!--<td>{{user.paid}}</td>-->
                  <!--<td>{{competitor.user.country}} {{ i }}</td>-->
                  <td>

                    <button class="btn p-0 m-0 border-0 icon-list " (click)="delete(competitor, i)">
                      <i class="far fa-trash-alt text-primary"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-md-3 col-12">
      <app-competitors-right-menu
        [championships]="tournament.championships"
      ></app-competitors-right-menu>
    </div>
  </div>
</div>
