<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-9" id="main">
      <div *ngFor="let championship of tournament.championships" class="card mb-4">
        <div class="card-body">
          <a name="{{ championship.category.name | translate | slug }}">
            <div class="row">
              <div class="col-md-9">
                <!-- TODO alias if exists-->
                <span
                  class="text-semibold text-uppercase font-weight-bold">{{ championship.category.name | translate }}</span>
              </div>
              <div class="col-md-3">
                <div class="badge btnAction">
                  <a href="{{ championship.category.name | slug }}" data-toggle="modal" class="btn btn-primary p-2"
                     data-target="#addCompetitors">
                    <b> <i class="fas fa-plus mr-1"></i></b>
                    {{ 'core.add_competitor' | translate }}
                  </a>&nbsp;
                  <a href="#" data-toggle="modal" class="btn btn-success p-2">
                    <b> <i class="fas fa-sitemap ml-1"></i></b>
                    {{ 'core.generate_tree' | translate }}
                  </a>
                </div>
              </div>
            </div>
          </a>

          <div class="text-center">
            <div class=".table-responsive border-top-0">
              <table class="table .table-hover .table-responsive-xs">
                <tr>
                  <th scope="col">{{ 'core.avatar' | translate }}</th>
                  <th scope="col">{{ 'core.user' | translate }}</th>
                  <th scope="col">{{ 'core.email' | translate }}</th>
                  <!--<th scope="col">{{ 'categories.category' | translate }}</th>-->
                  <!--<th scope="col">{{ 'core.paid' | translate }}Paid</th>-->
                  <th scope="col">{{ 'core.country' | translate }}</th>
                  <th scope="col">{{ 'core.action' | translate }}</th>
                </tr>
                <tr *ngFor="let competitor of championship.users">
                  <!--TODO get Avatar-->
                  <td align="left">{{competitor.avatar}}</td>
                  <td align="left">{{competitor.name}}</td>
                  <!--TODO get first / lastname -->
                  <td>{{competitor.email}}</td>
                  <!--<td>{{championship.category.name}}</td>-->
                  <!--<td>{{competitor.paid}}</td>-->
                  <td>{{competitor.user?.country}}</td>
                  <td><i class="fas fa-times text-primary"></i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <div class="col-md-3 col-12">
      <app-competitors-right-menu
        [championships]="tournament.championships"
      ></app-competitors-right-menu>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCompetitors" tabindex="-1" role="dialog"
     aria-labelledby="addCompetitorsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white text-uppercase">
        <h5 class="modal-title text-uppercase" id="creteCategoryLabel">Add new Competitor to Category</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body pb2">
        <small class="text-muted">If you don't provide an email, Kendozone will generate a unique user automatically.
        </small>
        <br>
        <small class="text-muted">Notice that in this case, competitor will have a different ID for each championship in
          the tournament
        </small>
        <br>
        <small class="text-muted">To get Unique IDs, write the user email, or Invite by Email<a href="#">invite_competitors_with_email</a>
        </small>

        <div align="right" class="mt-3 mb-3">
          <a class="add_field_button btn-primary btn text-white p-2">
            <i class="fas fa-user-plus mr-2"></i>add_more_competitors
          </a></div>

        <div class="row">
          <div class="col-md-3">
            <div class=" form-group">
              <label class="font-weight-bold">firstname</label>
              <input type="text" name="firstnames[]" class="form-control mt-20" required="" placeholder="First name">
            </div>
          </div>
          <div class="col-md-3">
            <div class=" form-group">
              <label class="font-weight-bold">lastname</label>
              <input type="text" name="lastnames[]" class="form-control mt-20" required="" placeholder="Last name">
            </div>
          </div>
          <div class="col-md-3">
            <div class=" form-group">
              <label class="font-weight-bold">Email</label>
              <input type="text" name="emails[]" class="form-control mt-20" placeholder="Email ( optional )">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary p-2">Add Category</button>
      </div>
    </div>
  </div>
</div>

