<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="name" class="font-weight-bold">Name</label>
      <br>
      <input class="form-control input-lg" name="name" type="text" [value]="tournament.name" id="name">
    </div>
  </div>
</div>
<hr/>


<!--Second row-->

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <label for="dateIni" class="font-weight-bold">Initial Date</label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dateIni" id="dateIni" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fas fa-calendar-alt calendar"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">

    <label for="dateFin" class="font-weight-bold">Final Date</label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dateFin" id="dateFin" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fas fa-calendar-alt calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="registerDateLimit" class="font-weight-bold">Deadline Registration Date</label>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dateFin" id="registerDateLimit" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="fas fa-calendar-alt calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr/>

<!--Third row-->
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="promoter" class="font-weight-bold">Promoter</label>
      <br>
      <input class="form-control input-lg" name="promoter" type="text" id="promoter">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="host_organization" class="font-weight-bold">Host Organization</label>
      <br>
      <input class="form-control input-lg" name="host_organization" type="text" id="host_organization">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="technical_assistance" class="font-weight-bold">Technical Assistance</label>
      <br>
      <input class="form-control input-lg" name="technical_assistance" type="text" id="technical_assistance">
    </div>
  </div>
</div>

<div align="right">
  <button type="submit" class="btn btn-success" id="saveTournament">
    Save
  </button>
</div>



