{{ f.dateIni.errors | json }}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name" class="font-weight-bold">{{ 'common.name' | translate }}</label>
        <br>
        <input class="form-control input-lg" formControlName="name" [value]="tournament.name" type="text" id="name">
          <div class="text-primary mt-1" *ngIf="f.name.errors?.required" translate [translateParams]="{attribute: 'name'}">
            validation.required
          </div>
        <div class="mt-1" *ngIf="!f.name.errors?.required">&nbsp;</div>
        </div>
      </div>
    </div>
  <hr/>

  <!--Second row-->

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <label for="dateIni" class="font-weight-bold">{{ 'tour_edit.eventDateIni' | translate }}</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="dateIni" formControlName="dateIni" ngbDatepicker #a="ngbDatepicker">
          <div class="text-primary mt-1" *ngIf="f.dateIni?.errors?.required" translate [translateParams]="{attribute: 'dateIni'}">
            validation.required
          </div>
          <div class="mt-1" *ngIf="!f.dateIni?.errors?.required">&nbsp;</div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="a.toggle()" type="button">
              <i class="fas fa-calendar-alt calendar"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <label for="dateFin" class="font-weight-bold">{{ 'tour_edit.eventDateFin' | translate }}</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="dateFin" formControlName="dateFin" ngbDatepicker #b="ngbDatepicker">
          <div *ngIf="submitted && f.dateFin.errors" class="text-primary">
            <div *ngIf="f.dateFin.errors.required" translate [translateParams]="{attribute: 'dateFin'}">
              validation.required
            </div>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
              <i class="fas fa-calendar-alt calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="registerDateLimit" class="font-weight-bold">{{ 'tour_edit.registerDateLimit' | translate }}</label>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="registerDateLimit" formControlName="registerDateLimit" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fas fa-calendar-alt calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <!--Third row-->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="promoter" class="font-weight-bold">{{ 'tour_edit.promoter' | translate }}</label>
        <input class="form-control input-lg mt-2" formControlName="promoter" [value]="tournament.promoter" type="text"
               id="promoter">

      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="host_organization" class="font-weight-bold">{{ 'tour_edit.host_organization' | translate }}</label>
        <input class="form-control input-lg mt-2" formControlName="host_organization"
               [value]="tournament.host_organization" type="text" id="host_organization">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="technical_assistance" class="font-weight-bold">{{ 'tour_edit.technical_assistance' | translate
          }}</label>
        <input class="form-control input-lg mt-2" formControlName="technical_assistance"
               [value]="tournament.technical_assistance" type="text" id="technical_assistance">
      </div>
    </div>
  </div>

  <div align="right">
    <button type="submit" class="btn btn-success mt-2" [disabled]="!form.valid">
      {{ 'common.save' | translate }}
    </button>
  </div>
</form>
