<!-- Page container -->
<div class="page-container" *ngIf="!navbar.isLoading()">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <!-- Advanced login -->
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
          <form [formGroup]="sendPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="card mb-4">
              <div class="card-body">
                <div class="pb-5 text-center">
                  <img src="assets/images/logo_kendozone_guest_beta.png" width="200"/>
                  <h2 class="content-group text-center">{{ 'reset_pass.password_recovery' | translate }}</h2>
                  <p class="text-muted">{{ 'reset_pass.we_will_send_instructions' | translate }}</p>
                </div>

                <div class="form-group">
                  <input type="text" email="true" formControlName="email" class="form-control input-lg" placeholder="Email"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <div *ngIf="submitted && f.email.errors" class="text-primary">
                    <div *ngIf="f.email.errors.required" translate [translateParams]="{attribute: 'email'}">
                      validation.required
                    </div>
                    <!-- TODO VALIDATION IS NOT DISPLAYING MESSAGE WHEN EMAIL FORMAT IS NOT OK-->
                    <div *ngIf="f.email.errors?.email" translate [translateParams]="{attribute: 'email'}">
                      validation.email
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" id="login" translate
                          class="btn bg-success btn-block p-3 mb-4 text-white text-uppercase">
                    {{ 'reset_pass.send_password' | translate }}
                  </button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
