// Your variable overrides
$body-bg: #f5f5f5;
$body-color: #333;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

$navbar-brand-height:               56px;
$navbar-brand-padding-y:            0;

$border-width:                3px;

$theme-colors: (
  "primary": #ff5663,
  "danger": #ff4136
);
// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
