// Your variable overrides
$body-bg: #f5f5f5;
$body-color: #333;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

$navbar-brand-height: 56px;
$navbar-brand-padding-y: 0;

$btn-font-weight: 700;
$btn-padding-y: 11px;

$font-size-base: 13;

$theme-colors: (
  "primary": #ff5663,
  "danger": #ff4136
);
// Bootstrap and its default variables
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import "../../../node_modules/bootstrap/scss/bootstrap";


