<div class="card w-auto tournament-right-sidebar">
  <div class="card-header bg-dark"><span class="text-white">{{ tournament.name | uppercase }}</span></div>
  <div class="card-body align-items-lg-start">
    <ul>
      <li>
        <a routerLink="/tournaments/{{ tournament.slugcompetitors-right-menu.component.ts }}/edit">
          <i class="fas fa-trophy"></i> {{ 'tour_edit.general_data' | translate }}
        </a>
      </li>
      <li><a routerLink="/tournaments/{{ tournament.slug }}/competitors">
        <i class="fas fa-user-friends"></i>
        {{ 'model.competitors' | translate }}
        <span class="badge badge-primary text-white" *ngIf="tournament.competitors?.length<4">
          {{ tournament.competitors?.length }}
        </span>
        <span class="badge badge-success text-white" *ngIf="tournament.competitors?.length>=4">
          {{tournament.competitors?.length}}
        </span>
      </a>
      </li>
      <li><a routerLink="/tournaments/{{ tournament.slug }}/teams">
        <i class="fas fa-users"></i>{{ 'model.teams' | translate }}
        <span class="badge badge-primary" *ngIf="tournament.teams_count<=2">{{ tournament.teams_count }}</span>
        <span class="badge badge-success" *ngIf="tournament.teams_count>2">{{ tournament.teams_count }}</span>
      </a></li>
      <li><a routerLink="/tournaments/{{ tournament.slug }}/trees">
        <i class="fas fa-sitemap"></i>
        Trees
        <span class="badge badge-primary ">{{ tournament.trees_count }} / {{ tournament.championships.length }}</span>


      </a>
      </li>
      <li>
        <a routerLink="/tournaments/{{ tournament.slug }}/fights">
          <i class="fas fa-sitemap"></i> {{ 'model.fights' | translate }}
        </a>
      </li>
      <li><a routerLink="/tournaments/{{ tournament.slug }}/score">
        <i class="fas fa-sitemap"></i>
        Score Sheets


      </a>
      </li>

    </ul>
  </div>

</div>

<br>

<div class="card w-auto tournament-right-sidebar">
  <div class="card-header bg-dark"><span class="text-white">SHARE TOURNAMENT</span></div>
  <div class="card-body align-items-lg-start">

    <div class="row">
      <div class="col-md-12 mb-3 text-center">
        <a href="#" id="shareBtnShow" title="Share to Facebook" alt="Share to Facebook">
          <img src="/assets/images/brands/facebook.png" class="img-circle img-xs"
               alt="Share to Facebook"></a>
        &nbsp;
        <a
          href="https://twitter.com/intent/tweet?url=https://my.kendozone.com/tournaments/testtest&amp;text=Check the tournament:testtest"
          title="Share to Twitter" alt="Share to Twitter">
          <img src="/assets/images/brands/twitter.png " class="img-circle img-xs twitter-share-button"
               alt="Share to Twitter"></a>
        &nbsp;
        <a href="https://plus.google.com/share?url=https://my.kendozone.com/tournaments/testtest"
           title="Share to Google +" alt="Share to Google +" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
          <img src="/assets/images/brands/googleplus.png" class="img-circle img-xs"
               alt="Share to Google +"></a>
      </div>
    </div>
    <div align="center">
      <input value="https://my.kendozone.com/tournaments/testtest" class="p-2 mt-2 mb-2 full-width input-lg">
    </div>
  </div>
</div>

