<div class="container">
  <div class="text-center">
    <div class=".table-responsive col-xs-12 col-lg-8 offset-lg-2 border-top-0">
      <ng-container *ngIf="tournaments">
        <table class="table .table-hover .table-responsive-xs">
          <tr>
            <th scope="col">{{ 'common.name' | translate }}</th>
            <th scope="col">{{ 'common.date' | translate }}Date</th>
            <th scope="col">{{ 'model.competitors' | translate }}</th>
            <th scope="col">{{ 'tournaments.owner' | translate }}</th>
            <th scope="col">{{ 'common.action' | translate }}</th>
          </tr>

          <tr *ngFor="let tournament of tournaments.data">
            <td><a [routerLink]="['/tournaments', tournament.slug, 'edit']">{{tournament.name}}</a></td>
            <td>{{tournament.date}}</td>
            <td>{{tournament.competitors_count }}</td>
            <td>{{tournament.user}}</td>
            <td>
              <button class="btn p-0 m-0 border-0 icon-list " (click)="delete(tournament)">
                <i class="far fa-trash-alt text-primary"></i>
              </button>
            </td>
          </tr>
        </table>
        <ngb-pagination *ngIf="tournaments.length > tournaments.meta.per_page"
                        [collectionSize]="tournaments.meta.total"
                        [(page)]="page" aria-label="Default pagination"
                        [pageSize]="tournaments.meta.per_page"
                        [maxSize]="5"
                        [rotate]="true"
                        (click)="loading=true"
                        (pageChange)="pageChanged($event)"
                        size="lg"
                        class="d-flex justify-content-center"></ngb-pagination>
      </ng-container>
    </div>
  </div>
</div>
