.cat-status>.panel-heading {
  text-align: right;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
}

.cat-status>.panel-heading>span>i {
  font-size: 30px;
  margin-left: 10px;
}
.cat-state:hover{
  text-decoration: none!important;
}
.fa-question-circle{
  margin-left: 0.5rem;
}

.h47{
  height: 47px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CCC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CCC;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #CCC;
}
