<form (ngSubmit)="onSubmit()" class="mb-1">
  <ngb-accordion [closeOthers]="true" activeIds="static-0">
    <ngb-panel id="static-{{i}}">
      <ng-template ngbPanelTitle>
        <div class="row">
          <div class="col-lg-7 col-xs-9">
            <input type="text" id="alias" name="alias" class="form-control h47"
                   [placeholder]="championship.category.name"
                   [(ngModel)]="championship.settings.alias">
          </div>
          <div class="col-lg-5 col-xs-3 cat-status">
            <div class="panel-heading" *ngIf="championship.settings.id">
            <span class="text-success"><a class="cat-state">{{ 'tour_settings.configured' | translate }}</a>
                <i class="fas fa-check status-icon"></i>
              </span>
            </div>
            <div class="panel-heading" *ngIf="!championship.settings.id">
            <span class="text-warning"><a class="cat-state">{{ 'tour_settings.not_configured' | translate }}</a>
                <i class="fas fa-exclamation-circle"></i>
              </span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3">
              <label>{{ 'tour_settings.fightDuration' | translate }}</label>

              <i class="fas fa-question-circle"
                 ngbPopover="{{'tour_settings.fightDurationTooltip' | translate }}"
                 triggers="mouseenter:mouseleave"></i>
              <div class="input-group">
                <label for="duration"></label>
                <select id="duration" name="duration" class="form-control select-lg"
                        [(ngModel)]="championship.settings.fightDuration">
                  <option *ngFor="let duration of durations"
                          [selected]="championship.settings.fightDuration==duration"
                          [ngValue]="duration"
                  > {{ duration }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 cost">
              <label for="cost">{{ 'tour_settings.cost' | translate }} </label>
              <i class="fas fa-question-circle"
                 ngbPopover="{{'tour_settings.costTooltip' | translate }}"
                 triggers="mouseenter:mouseleave"></i>
              <div class="input-group ">
                <input id="cost" name="cost" type="text" autocomplete="off" class="form-control input-md h47"
                       [(ngModel)]="championship.settings.cost">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="hasPreliminary">{{ 'tour_settings.hasPreliminary' | translate }}</label>
                <i class="fas fa-question-circle" triggers="mouseenter:mouseleave"
                   ngbPopover="{{'tour_settings.hasPreliminaryTooltip' | translate }}"></i>
                <select id="hasPreliminary" name="preliminary" class="form-control select-lg"
                        [(ngModel)]="championship.settings.hasPreliminary">
                  <option [ngValue]="0" [selected]="championship.settings.hasPreliminary">
                    {{ 'common.no' | translate }}
                  </option>
                  <option [ngValue]="1" [selected]="championship.settings.hasPreliminary">
                    {{ 'common.yes' | translate }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3" *ngIf="championship.settings.hasPreliminary">
              <div class="form-group">
                <label for="preliminaryGroupSize">{{ 'tour_settings.preliminaryGroupSize' | translate }}</label>
                <i class="fas fa-question-circle" triggers="mouseenter:mouseleave"
                   ngbPopover="{{'tour_settings.preliminaryGroupSizeTooltip' | translate }}"></i>
                <select id="preliminaryGroupSize" name="preliminaryGroupSize"
                        [(ngModel)]="championship.settings.preliminaryGroupSize"
                        class="form-control select-lg">
                  <option value="3" [selected]="championship.settings.preliminaryGroupSize===3"> 3</option>
                  <option value="4" [selected]="championship.settings.preliminaryGroupSize===4"> 4</option>
                  <option value="5" [selected]="championship.settings.preliminaryGroupSize===5"> 5</option>
                </select></div>
            </div>
            <!--<div class="col-lg-4">-->
            <!--<div class="form-group">-->
            <!--<label for="preliminaryWinner">{{ 'tour_settings.preliminaryWinner' | translate }}</label>-->
            <!--<i class="fas fa-question-circle"-->
            <!--ngbPopover="You see, I show up on hover!"-->
            <!--triggers="mouseenter:mouseleave"></i>-->
            <!--<select id="preliminaryWinner" name="preliminaryWinner" disabled="disabled"-->
            <!--[(ngModel)]="championship.settings.preliminaryWinner" class="form-control select-lg">-->
            <!--<option value="1" [selected]="championship.settings.preliminaryWinner==1">1</option>-->
            <!--<option value="1" [selected]="championship.settings.preliminaryWinner==2">2</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-3"><label for="treeType">{{ 'tour_settings.treeType' | translate }}</label>
              <select id="treeType" name="treeType"
                      [(ngModel)]="championship.settings.treeType"
                      class="form-control select-lg">
                <option value="0" [selected]="championship.settings.treeType===0">Play Off</option>
                <option value="1" [selected]="championship.settings.treeType===1">Direct Elimination</option>
              </select></div>
            <div class="col-lg-3"><label for="fightingAreas">{{ 'tour_settings.fightingAreas' | translate }}</label>
              <i class="fas fa-question-circle"
                 ngbPopover="{{'tour_settings.fightingAreaTooltip' | translate }}"
                 triggers="mouseenter:mouseleave"></i>
              <select
                [(ngModel)]="championship.settings.fightingAreas"
                id="fightingAreas" name="fightingAreas" class=" form-control select-lg">
                <option value="1" [selected]="championship.settings.fightingAreas===1"> 1</option>
                <option value="2" [selected]="championship.settings.fightingAreas===2"> 2</option>
                <option value="4" [selected]="championship.settings.fightingAreas===4"> 4</option>
                <option value="8" [selected]="championship.settings.fightingAreas===8"> 8</option>
              </select>
            </div>
            <!--<div class="col-lg-4">-->
            <!--<div class="form-group"><label for="limitByEntity">-->
            <!--{{ 'tour_settings.limitByEntity' | translate }}</label>-->
            <!--<i class="fas fa-question-circle" ngbPopover="You see, I show up on hover!"-->
            <!--triggers="mouseenter:mouseleave"></i>-->
            <!--<select disabled="disabled" id="limitByEntity"-->
            <!--[(ngModel)]="championship.settings.limitByEntity"-->
            <!--name="limitByEntity" class="form-control select-lg">-->
            <!--<option value="0" [selected]="championship.settings.limitByEntity===0">-</option>-->
            <!--<option value="1" [selected]="championship.settings.limitByEntity===1">1</option>-->
            <!--<option value="2" [selected]="championship.settings.limitByEntity===2">2</option>-->
            <!--<option value="3" [selected]="championship.settings.limitByEntity===3">3</option>-->
            <!--<option value="4" [selected]="championship.settings.limitByEntity===4">4</option>-->
            <!--<option value="5" [selected]="championship.settings.limitByEntity===5">5</option>-->
            <!--<option value="6" [selected]="championship.settings.limitByEntity===6">6</option>-->
            <!--<option value="7" [selected]="championship.settings.limitByEntity===7">7</option>-->
            <!--<option value="8" [selected]="championship.settings.limitByEntity===8">8</option>-->
            <!--<option value="9" [selected]="championship.settings.limitByEntity===9">9</option>-->
            <!--<option value="10" [selected]="championship.settings.limitByEntity===10">10</option>-->
            <!--</select></div>-->
            <!--</div>-->
          </div>
          <br>
          <div align="right">
            <button class="btn btn-success">{{ 'common.save' | translate }}</button>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</form>
