<div class="container">
  <div class="container-fluid">
    <div class="text-center">
      <div class=".table-responsive col-xs-12 col-lg-8 offset-lg-2 border-top-0">
        <table class="table .table-hover .table-responsive-xs">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Competitors</th>
            <th scope="col">Owner</th>
            <th scope="col">Action</th>
          </tr>
          <tr *ngFor="let tournament of tournaments">
            <td>{{tournament.name}}</td>
            <td>{{tournament.date}}</td>
            <td>{{tournament.numCompetitors}}</td>
            <td>{{tournament.user}}</td>
            <td><a class="btn p-0 m-0 border-0 icon-list"><i class="far fa-trash-alt"></i></a></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
