<!--{{ roundOneGroups | json }}-->
<!-- TODO I will also need to group it by area-->
<div *ngIf="championship.category.isTeam === 0" align="center">
  <table class="table-bordered m-2 p-2" cellpadding="15" cellspacing="0">

    <tr>
      <td>{{ 'tour_settings.fightingArea' | translate }}</td>
      <ng-container *ngFor="let numFighter of numFighters">
        <td></td>
        <td>{{ 'model.competitor' | translate }} {{ numFighter + 1 }}</td>
      </ng-container>
    </tr>
    <tr *ngFor="let group of roundOneGroups">
      <td class="p-10 text-center">{{ group.area}}</td>
      <ng-container *ngFor="let numFighter of numFighters;let i = index">
        <td>
          {{ i % 3 === 0 ? 'a' : ''}}
          {{ i % 3 === 1 ? 'b' : ''}}
          {{ i % 3 === 2 ? 'c' : ''}}
        </td>
        <td>{{ group.competitors[numFighter]?.user.firstname }} {{ group.competitors[numFighter]?.user.lastname }}</td>
      </ng-container>
    </tr>

  </table>


  <!--<table class="table-bordered m-2 p-2" cellpadding="5" cellspacing="0">-->
  <!--<tr *ngFor="let group of roundOneGroups">-->
  <!--<td class="p-10 text-center">{{ group.area}}</td>-->
  <!--<td *ngFor="let numFighter of numFighters ">-->
  <!--{{ group.competitors[numFighter]?.user.firstname }} {{ group.competitors[numFighter]?.user.lastname }}-->
  <!--</td>-->
  <!--</tr>-->
  <!--</table>-->
</div>


<!--<div *ngIf="championship.category.isTeam == true">-->
<!--<table class="table-bordered m-2 p-2" cellpadding="5" cellspacing="0">-->
<!--<tr *ngFor="let group of roundOneGroups">-->
<!--<td *ngFor="let numFighter of numFighters">-->
<!--{{ group.teams[numFighter]?.name }}-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
