.competitors-right-sidebar {
  width: 100% !important;
  border: #ddd 1px solid;
}

.competitors-right-sidebar > .card-body {
  background-color: #fcfcfc;
  color: #333;
}

//padding: 10px 0;
.competitors-right-sidebar > .card-body > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.competitors-right-sidebar > .card-body > ul > li > a {
  color: #000 !important;
  padding: 12px 0;
  min-height: 44px !important;
  font-weight: 600;
  display: block;
  text-decoration: none;
}


.badge, .label {
  float: right;
}

.img-circle{
  border-radius: 10%;
}
