<div class="card w-auto competitors-right-sidebar">
  <div class="card-header bg-dark"><span class="text-white">Categories</span></div>
  <div class="card-body align-items-lg-start">
    <ul>
      <li><a href="#">
        Categories
        <div class="badge badge-grey">
          <span class="category-size">4 / 4</span>
        </div>
      </a></li>
      <li><a href="#">
        Categories
        <div class="badge badge-grey" >
          <span class="category-size">4 / 4</span>
        </div>
      </a></li>
    </ul>
  </div>
</div>
