.numeros {
  border-radius: 100px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0;
  border: 2px solid #444;
  padding: 7px 12px;
}

.calendar{
  font-size: 16px;
}

.input-lg{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.select-lg{
  height: 40px!important;
  width: 260px;
}
