<div class="card w-auto" id="sticky-sidebar">
  <div class="card-header bg-dark"><span class="text-white">TEST</span></div>
  <div class="card-body align-items-lg-start">
    <ul>
      <li><a href="#"><i class="fas fa-trophy"></i> General
      </a></li>
      <li><a href="#"><i class="fas fa-map-marker"></i> Venue
      </a></li>
      <li><a href="#">
        <i class="fas fa-cog"></i>Categories
        <div class="badge badge-success" id="categories-status">
          <span class="category-size text-white">4 / 4</span>
        </div>
      </a></li>
      <li><a href="#">
        <i class="fas fa-user-friends"></i>
        Competitors
        <span class="badge badge-success text-white">10</span>

      </a>
      </li>
      <li><a href="#">
        <i class="fas fa-sitemap"></i>
        Trees
        <span class="badge badge-primary ">1
                                / 4</span>


      </a>
      </li>
      <li><a href="#">
        <i class="fas fa-users"></i>Teams
        <span class="badge badge-primary">0</span>
      </a></li>
    </ul>
  </div>
</div>
