<!-- Page container -->
<div class="page-container" *ngIf="!loading">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <!-- Advanced login -->
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
            <div class="card mb-4">
              <div class="card-body">
                <div class="pb-5 text-center">
                  <h1 class="icon-object border-warning text-warning"><i class="fas fa-redo-alt "></i></h1>
                  <h2 class="content-group text-center">{{ 'reset_pass.enter_new_password' | translate }}</h2>
                </div>

                <div class="form-group">
                  <input type="text" formControlName="email" name="email"
                         id="email" class="form-control input-lg" placeholder="Email" required
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" minlength="1">
                  <div class="text-primary">
                    <div *ngIf="submitted && f.email.errors?.required" translate [translateParams]="{attribute: 'email'}">
                      validation.required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" formControlName="password" name="password"
                         id="password" class="form-control input-lg" placeholder="Password" required
                         [ngClass]="{ 'is-invalid': submitted && f.password.errors }" minlength="1">
                    <div *ngIf="submitted && f.password.errors?.required" translate [translateParams]="{attribute: 'password'}" class="text-primary">
                      validation.required
                  </div>
                </div>

                <div class="form-group">
                  <input type="password" formControlName="password_confirmation" name="password_confirmation"
                         id="password_confirmation" class="form-control input-lg"
                         placeholder="{{ 'reset_pass.password_confirmation' | translate }} "
                         required minlength="1"
                         [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }">
                  <div *ngIf="submitted && f.password_confirmation.errors" class="text-primary">
                    <div *ngIf="f.password_confirmation.errors.required" translate
                         [translateParams]="{attribute: 'password_confirmation'}">
                      validation.required
                    </div>
                  </div>
                </div>
                <span class="help-block text-danger">
                  <div *ngIf="resetForm.hasError('mismatchedPasswords')">
                      {{ 'reset_pass.password_dont_match' | translate }}
                  </div>
                </span>
                <!--TODO Should disable the button if any error-->
                <div class="form-group">
                  <button type="submit" id="login" translate
                          class="btn bg-success btn-block p-3 mb-4 text-white text-uppercase">
                    {{ 'reset_pass.send_password' | translate }}
                  </button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
