/*!* You can add global styles to this file, and also import other style files *!*/
body {
  min-height: 100%;
  padding-top: 4.5rem;
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 13px!important;
  line-height: 1.53846;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
}

.fixed-top {
  background-color: #FFF;
}
.navbar-brand>img {
  width: 56px;
  height: 60px;
}

