/*!* You can add global styles to this file, and also import other style files *!*/
body {
  min-height: 100%;
  padding-top: 4.5rem;
  font-size: 13px!important;
}
.btn{
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

.fixed-top {
  background-color: #FFF;
}
.navbar-brand>img {
  width: 56px;
  height: 60px;
}

