<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content">
        <!-- Advanced login -->
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
          <form id="login-form" class="login-form" method="POST" action="https://laravel.test/login">
            <!--<input type="hidden" name="_token" value="QsAoZvgJXYDOq9oltqoojSkCz6HcGoCCrs7C7TPY">-->
            <div class="card mb-4">
              <div class="card-body">
                <div class="pb-5 text-center">
                  <img src="assets/images/logo_kendozone_guest_beta.png" width="200"/>
                </div>

                <div class="form-group">
                  <input type="email" name="email" class="form-control input-lg"
                         placeholder="Email" required autofocus value=" ">
                  <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                  </div>
                </div>


                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control input-lg"
                         placeholder="Password" required>
                  <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-6">
                      <label class="checkbox-inline">
                        <input type="checkbox" value="remember-me" class="styled" checked="checked">
                        Remember
                      </label>
                    </div>
                    <div class="col-6 text-right">
                      <a href="https://laravel.test/password/reset">Lost password?</a>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <button type="submit" id="login" class="btn bg-success btn-block p-3 mb-4 text-white text-uppercase">
                    Sign in
                  </button>
                </div>


                <!--<div class="content-divider text-muted form-group"><span>Or signin with</span></div>-->
                <!--<ul class="list-inline form-group text-center">-->
                  <!--<li>-->
                    <!--<a href="https://laravel.test/login/facebook"-->
                       <!--class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded" id="fb">-->
                      <!--<i class="icon-facebook"></i></a></li>-->
                  <!--<li><a href="https://laravel.test/login/google"-->
                         <!--class="btn border-danger text-danger btn-flat btn-icon btn-rounded" id="google"><i-->
                    <!--class="icon-google"></i></a></li>-->
                <!--</ul>-->

                <div class="content-divider text-muted form-group mt-2 mb-2"><span>Still no account?</span>
                </div>

                <div class="mt-5">
                  <a class="btn full-width text-primary border-primary border-4 text-uppercase "
                     href="https://laravel.test/register">Sign up</a>
                </div>


              </div>
            </div>


          </form>
        </div>
        <!-- /advanced login -->
        <!-- Footer -->
        <div class="footer text-muted text-primary ml-10">
          &copy; 2016. <a href="mailto:contact@kendozone.com" class="text-primary text-bold">Laravel</a>
        </div>
        <!-- /footer -->            </div>

      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
