<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-md-10" id="main">
      <ngb-tabset type="pills" class="nav-fill" #tabs [activeId]="selectedTab" >
        <ngb-tab id="venue">
          <ng-template ngbTabTitle>{{ 'model.venue' | translate | uppercase }}</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-venue
                  [tournament]="data.tournament"
                ></app-tournament-edit-venue>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="general-data">
          <ng-template ngbTabTitle>{{ 'tour_edit.general_data' | translate | uppercase }}</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-general [tournament]="data.tournament">
                </app-tournament-edit-general>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="categories">
          <ng-template ngbTabTitle>{{ 'model.categories' | translate | uppercase }}</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <form (ngSubmit)="onSubmitCategories()">
                  <app-tournament-edit-categories
                    [(ngModel)]="data.tournament" name="tournament"
                    [tournament]="data.tournament"
                    [categories]="data.categories">
                  </app-tournament-edit-categories>
                  <div align="right">
                    <button type="submit" class="btn btn-success">
                      {{ 'common.save' | translate }}
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="category-settings">
          <ng-template ngbTabTitle>{{ 'model.categorySettings' | translate | uppercase }}</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <!--TODO When clicked, must refresh the page, as it could be changed with edit categories page-->
                <app-tournament-edit-category-settings
                  *ngFor="let championship of data.tournament.championships; index as i"
                  [championship]="championship"
                  [i]="i"
                >
                </app-tournament-edit-category-settings>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <br/>
    </div>
    <div class="col-md-2 col-12 ml-0 pl-0">
      <app-tournament-edit-right-menu [tournament]="data.tournament"></app-tournament-edit-right-menu>
    </div>
  </div>
</div>
