<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container">
  <div class="row">
    <div class="col-md-9" id="main">
      <ngb-tabset type="pills" class="nav-fill">
        <ngb-tab>
          <ng-template ngbTabTitle>GENERAL DATA</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="name" class="font-weight-bold">Name</label>
                      <br>
                      <input class="form-control input-lg" name="name" [value]="data.tournament.name" type="text"
                             id="name">
                    </div>
                  </div>
                </div>
                <hr/>

                <!--Second row-->

                <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <label for="dateIni" class="font-weight-bold">Initial Date</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dateIni" id="dateIni" [(ngModel)]="data.tournament.dateIni" ngbDatepicker
                               #a="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="a.toggle()" type="button">
                            <i class="fas fa-calendar-alt calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4">

                    <label for="dateFin" class="font-weight-bold">Final Date</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dateFin" id="dateFin" [(ngModel)]="data.tournament.dateFin" ngbDatepicker
                               #b="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                            <i class="fas fa-calendar-alt calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="registerDateLimit" class="font-weight-bold">Deadline Registration Date</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dateFin" id="registerDateLimit" [(ngModel)]="data.tournament.registerDateLimit"
                               ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <i class="fas fa-calendar-alt calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr/>

                <!--Third row-->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="promoter" class="font-weight-bold">Promoter</label>
                      <br>
                      <input class="form-control input-lg" name="promoter" [value]="data.tournament.promoter"
                             type="text" id="promoter">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="host_organization" class="font-weight-bold">Host Organization</label>
                      <br>
                      <input class="form-control input-lg" name="host_organization"
                             [value]="data.tournament.host_organization" type="text" id="host_organization">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="technical_assistance" class="font-weight-bold">Technical Assistance</label>
                      <br>
                      <input class="form-control input-lg" name="technical_assistance"
                             [value]="data.tournament.technical_assistance" type="text" id="technical_assistance">
                    </div>
                  </div>
                </div>

                <div align="right">
                  <button type="submit" class="btn btn-success" id="saveTournament">
                    Save
                  </button>
                </div>


              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>VENUE</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-venue
                  [venue]="data.tournament.venue"
                  [countries]="data.countries"
                ></app-tournament-edit-venue>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>CATEGORIES</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-categories></app-tournament-edit-categories>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>SETTINGS</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-category-settings></app-tournament-edit-category-settings>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <br/>
    </div>
    <div class="col-md-3 col-12">
      <app-tournament-edit-right-menu></app-tournament-edit-right-menu>
    </div>
  </div>
</div>
