<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="container" *ngIf="!loading">
  <div class="row">
    <div class="col-md-9" id="main">
      <ngb-tabset type="pills" class="nav-fill">
        <ngb-tab>
          <ng-template ngbTabTitle>GENERAL DATA</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-general [tournament]="data.tournament">
                </app-tournament-edit-general>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>VENUE</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-venue
                  [tournament]="data.tournament"
                  [countries]="data.countries"
                ></app-tournament-edit-venue>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>CATEGORIES</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-categories
                  [tournament]="data.tournament"
                  [categories]="data.categories"
                ></app-tournament-edit-categories>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>SETTINGS</ng-template>
          <ng-template ngbTabContent>
            <div class="card mt-3">
              <div class="card-body">
                <app-tournament-edit-category-settings
                  [championships]="data.tournament.championships">
                </app-tournament-edit-category-settings>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <br/>
    </div>
    <div class="col-md-3 col-12">
      <app-tournament-edit-right-menu
        [tournament]="data.tournament"
        [slug]="data.tournament.slug"
        [competitors_count]="data.tournament.competitors_count"
        [championship_settings_count]="data.tournament.championship_settings_count"
        [teams_count]="data.tournament.teams_count"
        [trees_count]="data.tournament.trees_count"
      ></app-tournament-edit-right-menu>
    </div>
  </div>
</div>
