<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<form (ngSubmit)="onSubmit()" [formGroup]="competitorForm">
  <div formArrayName="competitors">
    <!--Modal-->
    <div class="modal-header bg-primary text-white text-uppercase">
      <h4 class="modal-title">{{ 'competitors.add_competitors' | translate | uppercase }}</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 mb-4">
          <small class="text-muted">{{ 'competitors.add_competitor_text1' | translate }}</small>
          <br>
          <small class="text-muted">{{ 'competitors.add_competitor_text2' | translate }}</small>
          <br>
          <small class="text-muted">{{ 'competitors.add_competitor_text3' | translate }}</small>
          <!--, or Invite by Email<a href="#">invite_competitors_with_email</a>-->
        </div>
        <div class="col-md-4">
          <div align="right" class="mb-3">
            <button type="button" class="btn btn-primary" (click)="addCompetitor()">
              <i class="fas fa-user-plus mr-2"></i>{{ 'competitors.add_more_competitors' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let competitor of competitorForm.controls['competitors']; let i = index"
           formGroupName="{{i}}">
        <div class="col-md-3">
          <div class=" form-group">
            <input type="text" class="form-control input-lg" formControlName="firstname" placeholder="First name"
                   [ngClass]="{ 'is-invalid': submitted && competitor.controls.firstname.errors }">
            <div *ngIf="(submitted && competitor.controls.firstname.errors)" class="text-primary">
              <div *ngIf="competitor.controls.firstname.errors.required" translate
                   [translateParams]="{attribute: 'firstname'}">
                validation.required
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class=" form-group">
            <input type="text" class="form-control input-lg" formControlName="lastname" placeholder="last name"
                   [ngClass]="{ 'is-invalid': submitted && competitor.controls.lastname.errors }">
            <div *ngIf="submitted && competitor.controls.lastname.errors" class="text-primary">
              <div *ngIf="competitor.controls.lastname.errors.required" translate
                   [translateParams]="{attribute: 'lastname'}">
                validation.required
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class=" form-group">
            <input type="text" class="form-control input-lg" formControlName="email"
                   [ngClass]="{ 'is-invalid': submitted && competitor.controls.email.errors }"
                   placeholder="{{ 'profile.email' | translate }} ( optional )">
            <div *ngIf="submitted && competitor.controls.email.errors" class="text-primary">
              <div *ngIf="competitor.controls.email.errors.required" translate [translateParams]="{attribute: 'email'}">
                validation.required
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class=" form-group">
            <button class="btn" type="button" (click)="removeCompetitor(i)">
              <i class="fas fa-times text-primary f-25"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!competitorForm.valid">
        {{ 'common.save' | translate }}
      </button>
    </div>
  </div>
</form>
